body {
    margin: 0px;
    background-color: white;
}

.header {
    padding-bottom: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    text-align: center;
    font-size: 60px;
    color: black;
    margin: 0px;
}

h4 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color:#3D7DCA;
}

main {
    background-color: white;
    margin-top: 2
}
/* 
h4 {
    font-family: Helvetica;
    color: #FFCB05;
} */

main {
    display: grid;
    grid-template-rows:    repeat(4, 250px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 100px;
    margin-bottom: 6rem;
}

img {
    width: 180px;
    margin-top: 10px
}

.charDivs {
    text-align: center;
}

body { 
  font-family: sans-serif;
}

.scene {
  width: 200px;
  height: 260px;
  /* border: 1px solid #CCC; */
  margin: 40px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /*line-height: 260px;*/
  /*color: white;*/
  font-weight: bold;
  font-size: 32px;
  backface-visibility: hidden;
}

.card__face--front {
  background: white;
  margin: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card__face--front p {
  margin: 10px;
}

.card__face--back {
  /* background: black; */
  transform: rotateY(180deg);
  background: #f4f5f4;
  border-radius: 10px;
}
/* 
.card__face--back img {
  margin: 0px;
} */

.card__face--back div {
  color: #003A70;
  text-align: left;
  margin-left: 8px;
}

.card__face--back p {
  text-align: left;
  padding: 4px;
  color: #3D7DCA;
  margin-left: 8px;
}

p {
    /* position: absolute; */
    bottom: 10px;
    margin: 0px;
    font-size: 16px; 
    line-height: 10px;
    /* line-height: 0rem; */
    color: #003A70;
    text-align: center;
}

p.poison {
  color: black;
  margin-left: 12px;
}

p.grass {
  color: green;
  margin-left: 12px;
}

p.fire {
  color: orangered;
  margin-left: 12px;
}

p.bug {
  color: rgb(160, 146, 34);
  margin-left: 12px;
}

p.water {
  color: aqua;
  margin-left: 12px;
}

p.flying {
  color: blue;
  margin-left: 12px;
}

p.normal {
  color: gray;
  margin-left: 12px;
}

p.ground {
  color: rgb(48, 26, 26);
  margin-left: 12px;
}

p.electric {
  color: rgb(177, 177, 0);
  margin-left: 12px;
}

p.fairy {
  color: pink;
  margin-left: 12px;
}

.poke_logo {
  height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.picDivs {
  height: 160px;
  width: auto;
  padding-top: 10px;
}

button {
  display:block;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin-left: 100px;
  margin-bottom: 100px;
  background-color: #fef70d;
  border-color:#3D7DCA;
  border-width:10px;
  filter: drop-shadow(0 0 0.75rem crimson);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #3D7DCA;
  font-size: 16px;
}