#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

h1 {
    color: pink; 
}

header {
    display: flex;
    justify-content: center;
    margin: 20px; 
    font-size: 32px;
}

/* div #buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid plum;
    padding: 8px;
} */

#buttons {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 50px;
}

button {
    padding: 20px;
    font-size: 1.5rem;
    color: white;
    border-radius: 15px;
    background-color: teal;
    visibility: visible;
}

button #starships.ships {
    
}

#all {
    margin: 4px;
}

#female {
    margin: 4px;
}

#male {
    margin: 4px;
}

#other {
    margin: 4px;
}

h3, p {
    margin: 0px; 
}

img {
    width: 120px;
}

/* div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid plum;
    padding: 8px;
} */

.charDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid plum;
    padding: 8px; 
}